.main-container {
    display: flex;
    height: 100%;
    margin: 20px;
}

.vertical {
    width: 50%;
    height: 100%;
}

input {
    background-color: #4C566A;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 20px;
    width: 50%;
    margin: 2%;
    border-radius: 25px;
    font-size: large;
}

.search {
    display: block;
    padding: 1%;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.25);
    width: 65%;
    background-color: #D08770;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 250%;
    color: #fff;
}

ul {
    list-style-type: none;

}

.trip {
    padding: 2% 3%;
    margin: 2% 0;
    color: #000;
    width: 80%;
    background-color: #D8DEE9;
    border-radius: 20px;
}